
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.box1 {
    background-color: hsl(31, 77%, 52%);
    padding: 20px;
}

.box2 {
    background-color: hsl(184, 100%, 22%);
    padding: 20px;
}

.box3 {
    background-color: hsl(179, 100%, 13%);
    padding: 20px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: #fff;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    padding-top: 20px;
}

.icons {
    padding: 20px 30px;
}

.icons img {
    width: 50px;
    height: 30px;
}

.content {
    padding: 0px 30px 0px 30px;
}

.btn {
    padding: 60px 0px 30px;
}

.btn button {
    padding: 10px 30px;
    border-radius: 2rem;
    border: none;
}

@media only screen and (max-width: 720px) {
    .card-container {
        height: 100vh;
        min-width: 375px;
        margin: 250px -50px;
        
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 375px) {
    .card-container {
        height: 100vh;
        margin: 250px -50px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

